#wrapper{
    padding: 20px 30px;
    margin: 1.5em 18%;
    text-align: left;
    background-color: #fff;
}

body{
    font: 76% Verdana, Helvetica, sans-serif;
    color: #555;
    background-color: #edede3;
}

h1 small {
    font-size: 0.6em;
}

.section{
    border-top: 1px solid #edede3;
}

p{
    line-height: 1.5em;
    margin-bottom: 1.0em;
    font-size: 0.9em;
}

p.lead{
    font-size: 1.0em;
}

#lightbox {
    background-color: #eee;
    padding: 10px;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    /* position: fixed;
    top: 0;
    left: 200;
    width: 100%;
    height: 100%;
    background:url(./media/overlay.png) repeat; 
    text-align: center; */
}

#lightboxImage{
    max-width: 500px;
}

#lightboxDetails{
    font-size: 0.8em;
    padding-top: 0.4em;
}

#lightboxCaption {
    float: left;
}

#keyboardMsg{
    float: right;
}

#closeButton {
    top: 5px;
    right: 5px;
}

#lightbox img{
    border: none;
    clear: both;
}

#overlay img{
    border: none;
}

#overlay {
    background-image: url(./media/overlay.png);
}

* html #overlay {
    background-color: #333;
    background-color: transparent;
    background-image: url(blank.gif);
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src = './media/overlay.png', sizingMethod = 'scale');
}

.caption{
    font-size: 0.9em;
    padding-top: 0.2em;
}

.thumbnail {
    padding: 7px;
    border: 1px solid #ddd;
    /* float: left; */
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
}

